# 파이썬 문법

# 1. print() 출력 함수

In [2]:
print(1)

1

In [3]:
print(2)

2

In [4]:
a = 1
b = 2
print(a)
print(b)

1
2

In [7]:
#print() 함수의 옵션
#docstring(shift + tab)
#함수에 대한 설명
print(1, 2, sep='\t')

1	2

In [8]:
#자동완성
print(3)

3

In [9]:
print('자동완성')
print('오타를 방지할 수 있습니다')

자동완성
오타를 방지할 수 있습니다

# 2. 주석(comment)

In [10]:
#주석 : 앞에 #를 붙이면 파이썬 코드로 실행하지 않습니다.
#코드에 대한 설명이나 특정 코드를 실행시키고 싶지 않을 때 사용
#ctrl(cmd) + /

In [11]:
print(1)
# print(2)
print(3) # 이 코드는 3을 출력하는 print 함수 입니다.

1
3

## 3. 변수 선언
- RAM이라는 자장공간에 값을 할당

In [13]:
#a 는 1 이다 (X)
#1 이라는 정수값을 a에 할당했다(O)
a = 1
print(a)

1

In [14]:
#3,4 값을 각각 'd, e' 변수에 할당
d = 3
e = 4
print(d)
print(e)

3
4

In [15]:
f = 5
g = 5
print(f)
print(g)

5
5

In [16]:
#코드 에러 발생 시, 맨 밑부터 확인
#할당되지 않은 변수 출력한 상황
print(z)

NameError: name 'z' is not defined

# 4. 식별자
- 변수, 함수, 클래스, 모듈 등의 이름을 식별자라고 합니다.
- 식별자 규칙
    - 소문자, 대문자, 숫자, 언더스코어(_) 사용
    - 가장 앞에 숫자 사용 불가
    - 예약어 사용 불가
        - def, class, list, str, int, float....
    - 컨벤션
        - snake case : python_basic
        - camel case : Pythonbasic

In [17]:
# 가능한 형태
name = 'seongjin'
age = 24
my_var = 3.14
hello_word = 'Hello, World'
IsValid = True

In [21]:
# 불가능한 형태
def = 'func'  # 예약어를 식별자로 사용
first-name = 'John'  # 특수문자를 식별자로 사용
2nd_number = 42    # 숫자로 시작하는 식별자
hello word = 'Hello world' # 공백을 포함한 식별자

SyntaxError: invalid syntax (4228384057.py, line 5)

## 5. 데이터 타입
- RAM 저장공간을 효율적으로 사용하기 위해서 저장공간의 타입을 설정

- 동적타이핑
    - 변수 선언시 저장되는 값에 따라 자동으로 데이터 타입 결정
- 정적타이핑
    - 변수 선언 시 데이터 타입을 직접 설정 후 할당

- 데이터 타입
    - int,float,str,bool
    - list,tuple,dict

In [22]:
a = 1 #integer 정수
b = 'python' # string 문자(글자)
type(a), type(b)

(int, str)

### 5-1. 기본 데이터 타입
- int: 정수
    - 1, 2, 3
- float: 소수점
    - 1.0, 3.14, -5.0
- str: 문자(글자)
    -'python', 'string', '''three''','''four'''
- bool: 논리값
    - True False

In [23]:
a = 1
b = 1.2
c = 'True'
d = True
f = '1.2'
type(a), type(b), type(c), type(d), type(f)

(int, float, str, bool, str)

In [24]:
print(a == b)
print(a == a)

False
True

In [25]:
print(a + 1)

2

In [26]:
print(b + 1)

2.2

In [27]:
print(c + 1)

TypeError: can only concatenate str (not "int") to str

In [28]:
#논리형 데이터는 연산 가능
#True = 1
print(d + 1)

2

In [29]:
#False = 0
print(False + 2)

2

### 5-2 컨테이너 타입
- list : 여러 개의 값을 순서대로 담을 수 있고, 수정이 가능한 데이터 타입
- tuple: 리스트와 동일한 성격 가지는데, 수정이 불가능한 데이터 타입
- dict: 순서가 없고 키(key)와 값(value)의 쌍으로 이루어진 데이터 타입

In [36]:
#list
li = [1,2,3]
print(li), type(li)

[1, 2, 3]

(None, list)

In [32]:
#tuple
tp = (1,2,3)
print(tp), type(tp)

(1, 2, 3)

(None, tuple)

In [ ]:
#dic
dic ={'key':'value'}
print(dic)

---

In [37]:
# 1. 리스트 데이터 생성
my_li = [1, 5, 4, 6, 111, 111, 10, 45, 3, 2]

In [38]:
# 2. 리스트 길이 확인
len(my_li)

10

In [39]:
# 3. 리스트에 값 추가
# append()

my_li.append(111)

In [40]:
print(my_li)

[1, 5, 4, 6, 111, 111, 10, 45, 3, 2, 111]

In [41]:
len(my_li)

11

In [43]:
# 4. 데이터 2개 이상 추가
my_li.append([112, 113])

In [44]:
print(my_li)

[1, 5, 4, 6, 111, 111, 10, 45, 3, 2, 111, [112, 113]]

In [45]:
# extend()
my_li.extend([14,15])
print(my_li)

[1, 5, 4, 6, 111, 111, 10, 45, 3, 2, 111, [112, 113], 14, 15]

In [46]:
#insert()
my_li.insert(1,10)
print(my_li)

[1, 10, 5, 4, 6, 111, 111, 10, 45, 3, 2, 111, [112, 113], 14, 15]

In [47]:
# 5. 리스트에 특정 값이 있는지 확인!
# 'value' in list
print(10 in my_li)
print(999 in my_li)

True
False

In [48]:
# 6. 리스트에서 특정 값 제거
# remove()
my_li.remove(45)

In [49]:
print(my_li)

[1, 10, 5, 4, 6, 111, 111, 10, 3, 2, 111, [112, 113], 14, 15]

In [60]:
my_li.remove([112])

ValueError: list.remove(x): x not in list

In [51]:
# 인덱싱 작업을 통해 112 데이터 삭제
my_li

[1, 10, 5, 4, 6, 111, 111, 10, 3, 2, 111, [112, 113], 14, 15]

In [52]:
my_li.remove([113])

ValueError: list.remove(x): x not in list

In [ ]:
# 7. 리스트에서 특정 값 개수 세기
#count()

In [56]:
my_li.count(999)

0

In [ ]:
# 8. 리스트 오름차순 정렬
#sort()

In [59]:
my_li.sort()
print(my_li)

TypeError: '<' not supported between instances of 'list' and 'int'

In [ ]:
# 9. 리스트 데이터 복사
# 얕은 복사와 깊은 복사

In [ ]:
- 얕은 복사 : 원본 데이터에 영향을 줍니다
- 깊은 복사 : 원본 데이터에 영향을 주지 않습니다`

In [63]:
li1 = [4,1,10]
li2 = li1

In [64]:
print(li1)
print(li2)

[4, 1, 10]
[4, 1, 10]

In [65]:
li2.sort()

In [66]:
print(li2)

[1, 4, 10]

In [67]:
print(li1)

[1, 4, 10]

In [69]:
#깊은 복사
import copy
li1 = [4,1,10]
li2 = copy.deepcopy(li1) # 깊은복사

print(li1)
print(li2)

[4, 1, 10]
[4, 1, 10]

In [70]:
li2.sort()
print(li2)

[1, 4, 10]

In [71]:
print(li1)

[4, 1, 10]

In [72]:
# 10.pop()
# 가장 마지막 데이터 출력
# 출력한 데이터를 리스트에서 삭제

In [73]:
my_li

[1, 2, 3, 4, 5, 6, 10, 10, 111, 111, 111, [112, 113], 14, 15]

In [88]:
my_li.pop()

IndexError: pop from empty list

In [89]:
# 11. 리스트 끼리의 연산
a_li = [1,2,3]
b_li = [7,8,9]
print(a_li + b_li)

[1, 2, 3, 7, 8, 9]

In [90]:
# 12. 리스트에는 여러 데이터 타입 할당 가능 
li = [1,2,'3',[5,6],(7,8),{'key':'value'}, True, False]

In [91]:
print(li)

[1, 2, '3', [5, 6], (7, 8), {'key': 'value'}, True, False]

In [92]:
# 13. 인덱싱 (별표 백만개 --> 개중요)

In [94]:
print(type(li[2]))

<class 'str'>

In [96]:
li[3], type(li[3])

([5, 6], list)

In [97]:
li[3:5]

[[5, 6], (7, 8)]

In [98]:
li[1:6]

[2, '3', [5, 6], (7, 8), {'key': 'value'}]

In [99]:
li[1:6:2]

[2, [5, 6], {'key': 'value'}]

## 리스트 인덱싱과 슬라이싱 연습!
- 인덱싱(indexing)
    - 단일 요소 선택할 때 인덱싱
    - 리스트에서 특정 위치에 있는 요소에 접근하는 것을 의미
    - 인덱스는 0부터 시작하며, list[]를 사용해서 특정 위치 요소 가져옵니다
    - 예 : my_li[2]는 my_li의 세번째 요소를 가져옵니다
    - 요소(element) : 리스트가 가지고 있는 데이터 하나 하나 의미
- 슬라이싱(slicing)
    - 연속된 범위의 요소 선택하기 위해 사용
    - list[start:end:strid]
    - start 인덱스는 값이 포함되고, end 인덱스는 값이 포함되지 않습니다
    - 예: my_li[1:4]는 my_li의 두번째 요소부터 네번째 요소까지를 가져옵니다

In [1]:
my_list = [10,20,30,40,50,60,70,80,90,100]
my_str = 'Hello, World!'

In [101]:
my_list[1]

20

In [102]:
my_list[0:2]

[10, 20]

In [103]:
my_list[0:3]

[10, 20, 30]

In [104]:
my_list[::2]

[10, 30, 50, 70, 90]

In [106]:
#mission 1
# 90 값을 출력해주세요
my_list[-2]

90

In [107]:
#문자열에서 세번째 문자에 접근하기
my_str

'Hello World!'

In [108]:
my_str[2]

'l'

In [109]:
my_str[2]

'l'

In [110]:
# 1. 숫자 리스트에서 인덱스 2부터 6까지 출력하기
my_list[1:5]

[20, 30, 40, 50]

In [117]:
#금일 과제(리스트 인덱스 활용하여 아래값 만들기)
my_str[3:]
my_list[1::2]
my_str[::3]
my_list[4:0:-1]
my_str[7:1:-1]
my_list[7:2:-1]
my_str[12:3:-2]
my_list[2::3]
my_str[-1::]

'!'

In [134]:
my_str[-2:-7:-1]

'dlroW'

In [2]:
# 인덱싱을 이용한 리스트 데이터 값 수정

In [6]:
my_list[2] = 300

In [7]:
my_list

[10, 20, 300, 40, 50, 60, 70, 80, 90, 100]

### 5-3. tuple()
- 리스트와 동일한 성격 가진다
- 왜 사용?
- 튜플은 데이터 수정이 불가합니다
- 튜플은 리스트보다 같은 데이터를 가졌을 때, 메모리 공간을 더 적게 사용

In [9]:
# tuple()
tp1 = (1, 2, 3)
tp2 = (4, 5, 6)
tp3 = 7, 8, 9

In [10]:
print(tp1), type(tp2)

(1, 2, 3)

(None, tuple)

In [11]:
print(tp3), type(tp3)

(7, 8, 9)

(None, tuple)

In [12]:
# 리스트와 튜플의 저장공간 차이 비교

import sys

li = [1, 2, 3]
tp = (1, 2, 3)

In [13]:
print(sys.getsizeof(li))
print(sys.getsizeof(tp))

88
64

In [14]:
li[1] = 10
print(li)

[1, 10, 3]

In [15]:
tp[1] = 10

TypeError: 'tuple' object does not support item assignment

## 5-4. dictionary {}
- 순서가 없고 {'key' : 'value'}로 구성되어 있는 데이터 타입

In [16]:
dic = {1 : 'one', 'two' : 2, 'three' : [1,2,3], 'four' : 'python'}

In [17]:
print(dic)

{1: 'one', 'two': 2, 'three': [1, 2, 3], 'four': 'python'}

In [20]:
dic['two']

2

In [19]:
dic[0]  #dictionary는 []안에는 키값만 적을 수 있음

KeyError: 0

In [21]:
# key로 value에 접근해서 value를 변경할 수 있습니다.
#key는 수정이 불가능합니다
dic['two'] = 123

In [22]:
print(dic)

{1: 'one', 'two': 123, 'three': [1, 2, 3], 'four': 'python'}

In [23]:
{[1,2,3] : 'value'}

TypeError: unhashable type: 'list'

In [24]:
# 도시: seoul,daegu, busan
# 인구: 500, 300, 200

In [25]:
#dictionary
data = {'seoul' : 500, 'daegu' : 300, 'busan' : 200}
print(data)

{'seoul': 500, 'daegu': 300, 'busan': 200}

In [26]:
#list
city = ['seoul', 'daegu', 'busan']
pop = [500,300,200]

In [29]:
data = dict(zip(city, pop))   #zip() --> 두 개의 리스트 모아주는 역할
print(data)

{'seoul': 500, 'daegu': 300, 'busan': 200}

## 6. 형변환
- 데이터의 타입을 변환
- int, float, str, bool, list, tuple, dict

In [30]:
a = 1
b = '2'

In [31]:
a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [32]:
a + int(b)

3

In [37]:
print(int(a) + int(b))
print(float(a) + float(b))
print(int(a) + float(b))  # 정수와 소수점의 연산결과는 무조건 소수점으로 나옴
print(str(a) + b)
print(type(str(a) + b))
print(int(str(a) + b))
print(type(int(str(a) + b)))

3
3.0
3.0
12
<class 'str'>
12
<class 'int'>

In [38]:
# 형변환이 안되는 경우
text = 'python'
int(text)

ValueError: invalid literal for int() with base 10: 'python'

## 7. 연산자의 종류와 우선순위
- 괄호: () (괄호 안의 표현식이 가장 먼저 계산됨)
- 지수 연산자: **
- 단항 연산자: -(음수), +(양수), ~(반전)
- 곱셈, 나눗셈, 나머지 연산자: *, /, //, %
- 덧셈, 뺄셈 연산자: +,-
- 비교 연산자: <, >, <=, >=, ==, !=
- 논리 연산자: and, or, not
- 멤버 연산자: in, not in
- 항등 연산자: is, is not
- 할당 연산자: +=, -=
- 삼항 조건 연산자: if-else

In [39]:
# 산술 연산자
a = 10
b = 2

In [40]:
print(a + b)
print(a - b)
print(a * b)
print(a / b) #나눗셈
print(a // b) #몫(정수로 리턴)
print(a % b)  #나머지
print(a ** b)

12
8
20
5.0
5
0
100

In [41]:
a += 10
print(a)

20

In [42]:
a *= 2
print(a)

40

In [43]:
# 비교 연산자
a = 5
b = 3

In [45]:
print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
True
False
True
False

In [46]:
# 논리 연산자
x = True
y = False

In [47]:
print(x and y) # and : 둘 다 True일 때 True, 아니면 False
print(x or y)  # or : 둘 중 하나가 True일 때 True, 아니면 False
print(not x)
print(not y)

False
True
False
True

In [48]:
# 멤버 연산자
li = ['jo', 'python', 'robot']

In [49]:
print('jo' in li)
print('John' in li)
print('John' not in li)

True
False
True

In [50]:
# 항등 연산자
x = 10
y = 10

In [52]:
x is y, x == 2

(True, False)

## quiz. 조언 해주세요!

1. 솔루션을 리스트로 작성
2. 질문을 입력
3. 저.. 이거 공부하면 잘될 수 있을까요?
4. 솔루션 중, 한가지 대답 랜덤하게 선택해서 보여줌
    - indexing
    - 해당 index에 해당하는 해답 보여줌

In [58]:
#랜덤 함수
import random
random.randint(1,10)

6

In [60]:
#입력 함수
#형 변환 하지 않으면 str형태로 출력
data = input()
data

1

1

In [65]:
solutions = [
    '포기하지 말고 힘내주세요',
    '오늘은 좀 쉬는게 어떠세요?',
    '걱정마세요, 취업할 수 있습니다!',
    'AI가 세상을 지배할 것 입니다.'
]

In [66]:
solutions[0]

'포기하지 말고 힘내주세요'

In [67]:
#quiz 풀기
import random
solutions = [
    '포기하지 말고 힘내주세요',
    '오늘은 좀 쉬는게 어떠세요?',
    '걱정마세요, 취업할 수 있습니다!',
    'AI가 세상을 지배할 것 입니다.'
]
question = input()
num = random.randint(0,3)
print(solutions[num])

저 이거 공부하면 잘될 수 있을까요?
걱정마세요, 취업할 수 있습니다!

In [71]:
# 강사님 ver.

import random
#솔루션을 리스트로 작성
solutions = [
    '포기하지 말고 힘내주세요',
    '오늘은 좀 쉬는게 어떠세요?',
    '걱정마세요, 취업할 수 있습니다!',
    'AI가 세상을 지배할 것 입니다.'
]

#질문 입력
question = input('질문을 입력하세요: ')

# 솔루션 중, 한 가지 대답을 랜덤하게 선택
idx = random.randint(0,len(solutions)-1)

#index에 해당하는 솔루션 대답을 보여줌
print('='*30)
print('답변: ',solutions[idx])

질문을 입력하세요: 저 오늘 공부가 좀 잘 되는거 같아요
==============================
답변:  오늘은 좀 쉬는게 어떠세요?