# 반복문(loop)

- 반복되는 코드를 실행할 때 사용 
- while, for, break, continue
- list comprehension

## 1.While
- 조건에 의한 반복문

In [4]:
# 조건에 의한 반복문

data = 3

while data:
    print(data)
    # data = data - 1
    data -= 1

3
2
1

In [5]:
# break
# 반복을 중단할 때, 사용

count = 0

while True:
    print(count)
    count += 1

    if count >= 5:
        print('break를 만나서 조건에 의한 반복문을 종료합니다.')
        break

0
1
2
3
4
break를 만나서 조건에 의한 반복문을 종료합니다.

In [ ]:
# 무한 루프

'''result = 0

while result:
    result += 1
print(result)'''

In [7]:
# 무한 루프

result = 1

while result:
    print(result)
    result += 1

    if result >= 10:
        break

1
2
3
4
5
6
7
8
9

In [8]:
# continue
# continue가 실행되면 현재 반복중인 루프 내에서 continue 문 아래의 코드는 실행되지 않고,
# 반복문의 다음 반복으로 이동합니다

count = 0

while True:
    count += 1

    if count >= 10:
        break

    # 짝수
    if count % 2:
        continue

    print(count)

2
4
6
8

In [10]:
# mini quiz
# while 문을 이용
# 'q' 문자열이 입력될 때 까지 단어를 words(list) 변수에 추가(append) 받는 코드를 작성해주세요

words = []

while True:
    word = input('단어를 입력하세요')
    words.append(word)

    if word == 'q':
        break
print(words)

['w', 'e', 'r', 'q']

In [13]:
#mini quiz_2
# 1~ 100까지 정수 출력
# but, 3의 배수인 수만 출력
# i 는 3의 배수입니다 형식으로 출력
i = 1

while i <= 100:
    if i%3 == 0:
        print(f'{i}는 3의 배수 입니다')
    i += 1

3는 3의 배수 입니다
6는 3의 배수 입니다
9는 3의 배수 입니다
12는 3의 배수 입니다
15는 3의 배수 입니다
18는 3의 배수 입니다
21는 3의 배수 입니다
24는 3의 배수 입니다
27는 3의 배수 입니다
30는 3의 배수 입니다
33는 3의 배수 입니다
36는 3의 배수 입니다
39는 3의 배수 입니다
42는 3의 배수 입니다
45는 3의 배수 입니다
48는 3의 배수 입니다
51는 3의 배수 입니다
54는 3의 배수 입니다
57는 3의 배수 입니다
60는 3의 배수 입니다
63는 3의 배수 입니다
66는 3의 배수 입니다
69는 3의 배수 입니다
72는 3의 배수 입니다
75는 3의 배수 입니다
78는 3의 배수 입니다
81는 3의 배수 입니다
84는 3의 배수 입니다
87는 3의 배수 입니다
90는 3의 배수 입니다
93는 3의 배수 입니다
96는 3의 배수 입니다
99는 3의 배수 입니다

In [20]:
# mini_quiz_3
# 로또 번호 출력
# (1) 랜덤한 숫자 6개 출력할 예전
# (2) 중복되는 숫자 없이, 6개의 랜덤한 숫자
# (3) 오름차순 정렬
# (4) 1 ~ 45 숫자
# 출력 결과 : [1, 2, 3, 34, 45, 33]
import random
lotto = []
count = 1

while count <= 6:
    num = random.randint(1,45)
    lotto.append(num)
    count += 1
    
lotto.sort()
print(lotto)

[1, 17, 31, 38, 38, 43]

In [25]:
# 강사님 코드
import random

# 빈 리스트 생성
lotto = []

#반복문 코드 작성
while True:
    #랜덤한 숫자 하나 선택
    random_number = random.randint(1,45)

    # 뽑힌 랜덤 숫자가 lotto 리스트에 없는 경우에만 추가합니다
    if random_number not in lotto:
        lotto.append(random_number)
    
    # lotto 리스트의 길이가 6이상이면 정렬하고 반복문을 종료
    if len(lotto) >= 6:
        lotto.sort()
        break

# 최종 로또 번호 출력
print(lotto)

[4, 5, 6, 12, 21, 41]

In [19]:
# mini_quiz_4
# 학생 성적 관리 시스템
# (1) 학생이 있습니다
# (2) 파이썬: 80점, 머신러닝: 90점, 딥러닝: 100점
# points_li = [80, 90, 100]
# (3) 총점, 평균, 최저점수를 출력해주세요
# (4) while문 사용할 것
# 출력결과: 
# 총점수는 270점입니다. 평균 점수는 90.0입니다. 최저 점수는 80점입니다.

In [24]:
points_li = [80, 90, 100]
i = 0
total = 0
while i < len(points_li):
    total += points_li[i]
    i += 1
avg = total / len(points_li)

min_points = min(points_li)

print(f'총점수는 {total}점입니다. 평균 점수는 {avg}입니다. 최저 점수는 {min_points}점입니다.')

총점수는 270점입니다. 평균 점수는 90.0입니다. 최저 점수는 80점입니다.

In [26]:
# 강사님 ver.
import copy   # 원본 유지하면 복사본 사용하기 위해
points_li = [80, 90, 100]

total = 0
avg = 0
min_score = 1000

datas = copy.deepcopy(points_li)

In [ ]:
# pop()
score = datas.pop()
print('origin: ', points_li)
print('copy: ', score)

In [27]:
while datas:
    score = datas.pop()
    total += score

    if score < min_score:
        min_score = score

avg = total / len(points_li)

print(f'총점수는 {total}점입니다. 평균 점수는 {avg}입니다. 최저 점수는 {min_points}점입니다.')

총점수는 270점입니다. 평균 점수는 90.0입니다. 최저 점수는 80점입니다.

## 2. for
- 횟수에 의한 반복문 
- iterable 한 값을 하나씩 꺼내서 value에 대입
- 코드를 iterable 변수의 값 갯수만큼 실행

In [28]:
my_li = [1, 2, 3]

for number in my_li:
    print(number)

1
2
3

In [29]:
data = []

for value in my_li:
    print(value)
    data.append(value)

print(data)

1
2
3
[1, 2, 3]

In [ ]:
# continue

li = [0,1,2,3,4]

for value in li:
    # data가 홀수가 되면 continue 실행
    if value % 2:
        continue
    print(value)

In [31]:
# for문에 자주 사용하는 함수
# range()
# enumerate()
# zip()

my_li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list(range(100))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [33]:
list(range(10))
list(range(1,11))
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [34]:
result = 0

for data in range(100):
    result += data
print(result)

4950

In [ ]:
# enumerate()
# 순서가 있는 자료형(iterable, 리스트, 튜플, 딕셔너리)를 입력으로 받습니다
# 각 요소의 인덱스와 값을 함께 반환합니다

In [35]:
ls = ['first', 'second', 'third']

In [37]:
for idx, data in enumerate(ls):
    print(idx, data)

0 first
1 second
2 third

In [38]:
# range() 만든 데이터
# iterable 한 데이터
# 인덱싱, 슬라이싱

list(range(5))[1:3]

[1, 2]

In [40]:
# 딕셔너리 데이터 타입과 for문

points_dict = {'python': 80, 'ml': 90, 'computer':100}

In [43]:
for data in points_dict:
    print(data, end='\n')

python
ml
computer

In [44]:
for key in points_dict.items():
    print(key, value)

('python', 80) 3
('ml', 90) 3
('computer', 100) 3

In [50]:
# mini_quiz
# (1) 숫자를 입력 받습니다
# (2) 3의 배수이면 'fizz'
# (3) 5의 배수이면 'buzz'
# (4) 3과 5의 배수가 아니면 'fizzbuzz'
# (5) 3과 5와 15의 배수가 아니면 입력한 숫자 출력

num = int(input())

if num%3 == 0:
    print('fizz')
elif num%5 == 0:
    print('buzz')
elif num%15 == 0:
    print('fizzbuzz')
else:
    print(num)

fizz

In [48]:
# 강사님 ver.
num = int(input())
print(num)

5

In [ ]:
# 조건문
# fizz 는 소문자로 출력해주세요
# buzz 는 대문자로 출력해주세요
if num % 15 == 0:
    print('fizzbuzz')
elif num % 3 == 0:
    print('FIZZ'.lower())  # lower()는 소문자로 출력
elif num % 5 == 0:
    print('buzz'.upper())  # upper는 대문자로 출력
else:
    print(num)

In [52]:
# 2중 for 문
# 보통, 3중 이상 for 문 사용하지 않습니다
# 구구단

for num1 in range(2,10):
    #print(num1)
    for num2 in range(1,10):
        print(f'{num1} * {num2} = {num1 * num2}')
    print()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [54]:
# 사용되지 않지만, 선언이 되어야 하는 경우
# 변수명은 _ 로 사용
# 식별자가 중복되지 않도록 하기 위해서

ls = [1, 2, 3]

for _ in ls:
    print('python')

python
python
python

In [56]:
# 숫자를 입력 받습니다
# 받은 숫자만큼, * 찍기

num = int(input())

for first in range(num):
    #print(first)
    for _ in range(first + 1):
        print('*', end="")
    print()

*
**
***

In [57]:
matrix = [[1, 2, 3], 
          [4, 5, 6], 
          [7, 8, 9]]

print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# mini_quiz
# 2중 for문

```
1 2 3
4 5 6
7 8 9
```

In [60]:
for first in matrix:
    for second in first:
        print(second, end=" ")
    print()

1 2 3
4 5 6
7 8 9